<p class="input-group" ng-click="open($event)">
	<input type="text"
		   class="form-control"
		   datepicker-popup="dateFormat"
		   ng-model="ngModel"
		   is-open="opened"
		   starting-day="1"
		   min-date="minDate"
		   max-date="'2015-06-22'"
		   datepicker-options="dateOptions"
		   date-disabled="disabled(date, mode)"
		   init-date="false"
		   ng-required="true"
		   close-text="Close" />
			   <span class="input-group-btn">
			   <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button></span>
</p>