@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
/* line 6, ../style.scss */
.Popup .form-row {
  width: 50%;
  float: left;
}
/* line 10, ../style.scss */
.Popup .form-row:first-child {
  padding-right: 10px;
}
/* line 14, ../style.scss */
.Popup .form-row > span {
  display: block;
  font-weight: bold;
  overflow: hidden;
}
/* line 20, ../style.scss */
.Popup .form-row .holder {
  font-weight: 700;
  margin-bottom: 10px;
}
/* line 24, ../style.scss */
.Popup .form-row .holder .col-md-6 {
  padding: 0;
  float: none;
  width: auto;
}
/* line 31, ../style.scss */
.Popup .form-row label {
  display: block;
}
/* line 35, ../style.scss */
.Popup .form-row .input-group {
  margin: 0;
}

/* line 41, ../style.scss */
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

/* line 46, ../style.scss */
.container {
  width: auto;
}
/* line 49, ../style.scss */
.container .holder label {
  display: block;
  margin-bottom: 4px;
  cursor: pointer;
  max-width: 300px;
}
/* line 55, ../style.scss */
.container .holder label:hover {
  background: #f9f9f9;
}
/* line 58, ../style.scss */
.container .holder label span {
  display: inline-block;
  width: 100px;
}
/* line 65, ../style.scss */
.container table.table thead {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}
/* line 76, ../style.scss */
.container table.table tbody tr.selected td {
  background: #d7fad6;
}
/* line 81, ../style.scss */
.container table.table td {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 89, ../style.scss */
.container footer .my-pagination {
  float: right;
  margin: 0 10px 0 0;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  /*FIXME add compass mixin http://compass-style.org/reference/compass/css3/user_interface/#mixin-user-select */
}
/* line 103, ../style.scss */
.container footer .form-control {
  width: 100px;
  margin-right: 20px;
  float: right;
}
/* line 108, ../style.scss */
.container footer .popup-open, .container footer .treaty-delete {
  float: left;
  margin-right: 10px;
}

/* line 114, ../style.scss */
.footer {
  height: 150px;
  padding-top: 50px;
}
/* line 118, ../style.scss */
.footer .wrapper {
  border-top: 1px solid #dddddd;
  color: #dddddd;
  transition: all .2s ease-in-out;
}
/* line 123, ../style.scss */
.footer .wrapper:hover {
  border-top-color: #bbbbbb;
  color: #bbbbbb;
}

/* line 129, ../style.scss */
.eq {
  font-size: 1em;
  color: #BBB;
  background-color: #444;
  text-align: center;
  @import url("http://fonts.googleapis.com/css?family=Lobster");
  /* Slider *
   * ====== */
  /* ## Slider main element */
  /* ## Orientation tweak, with [orient] attribute in degrees */
  /* > I know it's not standard, but that's the cleaner way I was thinking of. */
  /* ### all vertical ranges : */
  /* ## Slider components */
  /* ### Slider::-track */
  /* ### Slider::-thumb */
  /* ## Browser tweaks */
  /* ### webkit */
  /* ### IE */
  /* Label *
   * ====== */
  /* ## Label main element */
}
/* line 135, ../style.scss */
.eq fieldset {
  border: #999 solid .2em;
  border-radius: .5em;
  display: inline-block;
  text-align: left;
  position: relative;
  transition: border-color .25s linear;
}
/* line 142, ../style.scss */
.eq fieldset:hover {
  border: #BBB solid .2em;
}
/* line 146, ../style.scss */
.eq legend {
  font-size: 1.8em;
  font-family: "Lobster", sans-serif;
  padding-left: .3em;
  padding-right: .2em;
  color: #ACE;
  text-shadow: -.125em .05em 0 #214893, -.25em .1em 0 #313131;
}
/* line 164, ../style.scss */
.eq input[type='range'] {
  display: block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  width: 9.9em;
  height: 1em;
  border-radius: .25em;
  border: 0.2em solid #242424;
  background-color: #242424;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow .2s linear;
  box-shadow: 0 0 0 0 transparent;
}
/* line 180, ../style.scss */
.eq input[type='range']:focus {
  box-shadow: 0 0 0 .1em #AAAAAA;
}
/* line 183, ../style.scss */
.eq input[type='range']:hover {
  box-shadow: 0 0 0 .15em #6FC5F0;
}
/* line 190, ../style.scss */
.eq input[type='range'][orient] {
  /* > Would be cool heh :-) : */
  transform: rotate(attr(orient));
}
/* line 195, ../style.scss */
.eq input[type='range'][orient='90deg'] {
  transform: rotate(90deg);
}
/* line 198, ../style.scss */
.eq input[type='range'][orient='180deg'] {
  transform: rotate(180deg);
}
/* line 201, ../style.scss */
.eq input[type='range'][orient='270deg'] {
  transform: rotate(270deg);
}
/* line 207, ../style.scss */
.eq input[type='range'][orient='90deg'], .eq input[type='range'][orient='270deg'] {
  margin: 4.5em -4.5em;
  display: inline-block;
}
/* line 208, ../style.scss */
.eq input[type='range'][orient='90deg']::-webkit-slider-thumb, .eq input[type='range'][orient='270deg']::-webkit-slider-thumb {
  cursor: ns-resize;
}
/* line 211, ../style.scss */
.eq input[type='range'][orient='90deg']::-moz-range-thumb, .eq input[type='range'][orient='270deg']::-moz-range-thumb {
  cursor: ns-resize;
}
/* line 214, ../style.scss */
.eq input[type='range'][orient='90deg']::-ms-thumb, .eq input[type='range'][orient='270deg']::-ms-thumb {
  cursor: ns-resize;
}
/* line 231, ../style.scss */
.eq input[type='range']::-webkit-slider-runnable-track {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}
/* line 234, ../style.scss */
.eq input[type='range']::-moz-range-track {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}
/* line 237, ../style.scss */
.eq input[type='range']::-ms-track {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}
/* line 265, ../style.scss */
.eq input[type='range']::-webkit-slider-thumb {
  margin: .05em;
  padding: 0;
  height: .9em;
  width: .9em;
  border-radius: .1em;
  box-sizing: border-box;
  border: none;
  background-color: #6FC5F0;
  box-shadow: -10em 0 0 0 #313131, -9em 0 0 0 #313131, -8em 0 0 0 #2F343F, -7em 0 0 0 #283F6B, -6em 0 0 0 #214893, -5em 0 0 0 #1A52BC, -4em 0 0 0 #2769D3, -3em 0 0 0 #3E87DC, -2em 0 0 0 #55A5E6, -1em 0 0 0 #6FC5F0, 1em 0 0 0 #181818, 2em 0 0 0 #181818, 3em 0 0 0 #181818, 4em 0 0 0 #181818, 5em 0 0 0 #181818, 6em 0 0 0 #181818, 7em 0 0 0 #181818, 8em 0 0 0 #181818, 9em 0 0 0 #181818;
  cursor: ew-resize;
}
/* line 268, ../style.scss */
.eq input[type='range']::-moz-range-thumb {
  margin: .05em;
  padding: 0;
  height: .9em;
  width: .9em;
  border-radius: .1em;
  box-sizing: border-box;
  border: none;
  background-color: #6FC5F0;
  box-shadow: -10em 0 0 0 #313131, -9em 0 0 0 #313131, -8em 0 0 0 #2F343F, -7em 0 0 0 #283F6B, -6em 0 0 0 #214893, -5em 0 0 0 #1A52BC, -4em 0 0 0 #2769D3, -3em 0 0 0 #3E87DC, -2em 0 0 0 #55A5E6, -1em 0 0 0 #6FC5F0, 1em 0 0 0 #181818, 2em 0 0 0 #181818, 3em 0 0 0 #181818, 4em 0 0 0 #181818, 5em 0 0 0 #181818, 6em 0 0 0 #181818, 7em 0 0 0 #181818, 8em 0 0 0 #181818, 9em 0 0 0 #181818;
  cursor: ew-resize;
}
/* line 271, ../style.scss */
.eq input[type='range']::-ms-thumb {
  margin: .05em;
  padding: 0;
  height: .9em;
  width: .9em;
  border-radius: .1em;
  box-sizing: border-box;
  border: none;
  background-color: #6FC5F0;
  box-shadow: -10em 0 0 0 #313131, -9em 0 0 0 #313131, -8em 0 0 0 #2F343F, -7em 0 0 0 #283F6B, -6em 0 0 0 #214893, -5em 0 0 0 #1A52BC, -4em 0 0 0 #2769D3, -3em 0 0 0 #3E87DC, -2em 0 0 0 #55A5E6, -1em 0 0 0 #6FC5F0, 1em 0 0 0 #181818, 2em 0 0 0 #181818, 3em 0 0 0 #181818, 4em 0 0 0 #181818, 5em 0 0 0 #181818, 6em 0 0 0 #181818, 7em 0 0 0 #181818, 8em 0 0 0 #181818, 9em 0 0 0 #181818;
  cursor: ew-resize;
}
/* line 279, ../style.scss */
.eq input[type='range'], .eq input[type='range']::-webkit-slider-runnable-track, .eq input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
/* line 288, ../style.scss */
.eq input[type='range']::-ms-track {
  color: transparent;
}
/* line 291, ../style.scss */
.eq input[type='range']::-ms-fill-lower, .eq input[type='range']::-ms-fill-upper, .eq input[type='range']::-ms-tooltip {
  display: none;
}
/* line 301, ../style.scss */
.eq label[type='range'] {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: .6em;
  width: 9.9em;
  height: 1em;
  border-radius: .25em;
  color: #242424;
  font-family: arial;
  border: .2em solid transparent;
  text-align: center;
  border-bottom-color: #242424;
  background-image: linear-gradient(#242424 calc(50% - .1em), #242424 calc(50% + .1em));
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: .2em .2em;
  color: #999;
}
/* line 307, ../style.scss */
.eq label[type='range']:first-letter {
  font-size: .6em;
}
/* line 329, ../style.scss */
.eq label[type='range']::before, .eq label[type='range']::after {
  display: block;
  position: absolute;
  height: 1em;
  line-height: 1em;
  width: 1em;
}
/* line 337, ../style.scss */
.eq label[type='range']::before {
  content: attr(before);
  left: -.2em;
  text-align: left;
}
/* line 342, ../style.scss */
.eq label[type='range']::after {
  content: attr(after);
  top: 0;
  right: -.2em;
  text-align: right;
}
/* line 349, ../style.scss */
.eq label[type='range'][orient='90deg'], .eq label[type='range'][orient='270deg'] {
  border-bottom-color: transparent;
  display: inline-block;
  width: 1em;
  height: 10.1em;
  line-height: 10.1em;
  vertical-align: top;
}
/* line 359, ../style.scss */
.eq label[type='range'][orient='90deg'] {
  border-bottom-color: transparent;
  border-left-color: #242424;
  background-position: center left;
  text-align: center;
}
/* line 364, ../style.scss */
.eq label[type='range'][orient='90deg']::before {
  top: -.2em;
  bottom: auto;
  left: .1em;
}
/* line 369, ../style.scss */
.eq label[type='range'][orient='90deg']::after {
  left: .1em;
  top: auto;
  bottom: -.2em;
  right: 0;
  text-align: left;
}
/* line 377, ../style.scss */
.eq label[type='range'][orient='180deg'] {
  border-bottom-color: transparent;
  border-top-color: #242424;
  background-position: top center;
  line-height: 1.4em;
}
/* line 383, ../style.scss */
.eq label[type='range'][orient='180deg']::before {
  bottom: 0;
  left: auto;
  right: -.2em;
  text-align: right;
}
/* line 389, ../style.scss */
.eq label[type='range'][orient='180deg']::after {
  bottom: 0;
  left: -.2em;
  right: auto;
  text-align: left;
}
/* line 396, ../style.scss */
.eq label[type='range'][orient='270deg'] {
  border-bottom-color: transparent;
  border-right-color: #242424;
  background-position: center right;
  text-align: center;
}
/* line 401, ../style.scss */
.eq label[type='range'][orient='270deg']::before {
  bottom: -.2em;
  top: auto;
  right: .1em;
  left: auto;
  text-align: right;
}
/* line 408, ../style.scss */
.eq label[type='range'][orient='270deg']::after {
  right: .1em;
  bottom: auto;
  top: -.2em;
  left: auto;
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
