<div class="wrapper" ng-controller="forExampleController">
	<!--Search:
		<input ng-model="query">
		<select ng-model="orderProp">
			<option value="id">id</option>
			<option value="treaty">treaty</option>
		</select>

		<ul ng-controller="dataCtrl">
			<li ng-repeat="item in items.data | filter:query | orderBy:orderProp | startFrom:(1-1)*1 | limitTo:1">
				<p>{{item.id}}</p>
				<p>{{item.companyName}}</p>
				<p>{{item.treaty}}</p>
			</li>
		</ul>-->
	<div>
		<input ng-model="word" />
		<span habra-habr="word" habra="Nehabra"></span>
	</div>
</div>